/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <23 24>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <18 17>;
        };
    };

    macros {
        umlaut_a: umlaut_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp A>;
            label = "UMLAUT_A";
        };

        umlaut_o: umlaut_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp O>;
            label = "UMLAUT_O";
        };

        umlaut_u: umlaut_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp U>;
            label = "UMLAUT_U";
        };
    };

    behaviors {
        HRM2: HRM2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };

        HRM2_L: HRM2_L {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM2_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <165>;
            flavor = "balanced";
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 34 35 36 37 38 39 43 44 45 42 41 40>;
        };

        HRM2_R: HRM2_R {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM2_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <165>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 40 41 42 43>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLE";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q                   &kp W               &kp F               &kp P                 &kp B      &trans  &trans  &kp J           &kp L                  &kp U                &kp Y                &kp SEMI                 &kp BSPC
&kp APOS   &HRM2_L LEFT_CONTROL A  &HRM2_L LEFT_ALT R  &HRM2_L LEFT_GUI S  &HRM2_L LEFT_SHIFT T  &kp G      &trans  &trans  &kp M           &HRM2_R RIGHT_SHIFT N  &HRM2_R RIGHT_GUI E  &HRM2_R RIGHT_ALT I  &HRM2_R RIGHT_CONTROL O  &kp ENTER
&kp LC(B)  &kp Z                   &kp X               &kp C               &kp D                 &kp V                      &kp K           &kp H                  &kp COMMA            &kp DOT              &kp FSLH                 &kp ESC
                                                       &mo 3               &mo 2                 &kp SPACE                  &kp LEFT_SHIFT  &mo 1                  &mo 4
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        layer_1 {
            display-name = "NUM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&kp TAB       &kp PLUS   &kp N7        &kp N8        &kp N9          &kp AMPERSAND  &trans  &trans  &kp CARET        &kp LEFT_BRACE                       &kp RIGHT_BRACE                     &kp PIPE                   &kp HASH       &kp BSPC
&kp ASTERISK  &kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp SLASH      &trans  &trans  &kp EXCLAMATION  &HRM2_R LEFT_SHIFT LEFT_PARENTHESIS  &HRM2_R LEFT_GUI RIGHT_PARENTHESIS  &HRM2_R LEFT_ALT QUESTION  &kp BACKSLASH  &kp ENTER
&kp LSHFT     &kp MINUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp PERCENT                    &kp EQUAL        &kp LEFT_BRACKET                     &kp RIGHT_BRACKET                   &kp SEMICOLON              &kp TILDE      &kp ESCAPE
                                       &kp AT        &kp LEFT_SHIFT  &kp SPACE                      &trans           &trans                               &trans
            >;
        };

        layer_2 {
            display-name = "MOV";
            bindings = <
&kp LA(LC(LG(G)))  &kp LA(LC(LG(C)))   &kp LA(LC(LG(N7)))        &kp LA(LC(LG(N8)))        &kp LA(LC(LG(N9)))        &kp LA(LC(LG(LS(SPACE))))  &trans  &trans  &kp LA(LC(LG(J)))  &kp LA(LC(LG(L)))         &kp LG(LC(LA(I)))  &kp LA(LG(LC(A)))      &kp LC(LA(LG(LS(F))))  &kp LS(LA(LC(LG(ENTER))))
&kp LA(LC(LG(P)))  &kp LA(LC(LG(N0)))  &kp LA(LC(LG(NUMBER_4)))  &kp LA(LC(LG(N5)))        &kp LA(LC(LG(NUMBER_6)))  &kp LS(LA(LC(LG(TAB))))    &trans  &trans  &kp LA(LC(LG(F)))  &kp LA(LC(LG(UP_ARROW)))  &kp LG(LA(LC(V)))  &kp LA(LC(LG(SPACE)))  &kp LA(LC(LG(S)))      &kp LA(LC(LG(ENTER)))
&kp LA(LC(LG(N)))  &kp LA(LC(LG(T)))   &kp LA(LC(LG(NUMBER_1)))  &kp LA(LC(LG(NUMBER_2)))  &kp LA(LC(LG(NUMBER_3)))  &kp LA(LC(LG(N)))                          &kp LA(LC(LG(K)))  &kp LA(LC(LG(H)))         &kp LA(LG(LC(D)))  &kp LA(LC(LG(TAB)))    &kp LS(LA(LC(LG(B))))  &kp LA(LG(LC(W)))
                                                                 &trans                    &trans                    &trans                                     &kp LEFT_SHIFT     &kp LA(LC(LG(P)))         &kp LA(LC(LG(Q)))
            >;
        };

        layer_3 {
            display-name = "SPEC";
            bindings = <
&trans  &trans     &trans        &trans     &trans  &trans  &trans  &trans  &kp DOWN_ARROW  &kp RIGHT       &umlaut_u     &trans  &trans     &kp DELETE
&trans  &umlaut_a  &kp LEFT_ALT  &kp RA(S)  &trans  &trans  &trans  &trans  &trans          &trans          &kp LEFT_GUI  &trans  &umlaut_o  &kp INS
&trans  &trans     &trans        &trans     &trans  &trans                  &kp UP_ARROW    &kp LEFT_ARROW  &trans        &trans  &trans     &trans
                                 &trans     &trans  &trans                  &kp LEFT_SHIFT  &trans          &trans
            >;
        };

        layer_4 {
            display-name = "SYS";
            bindings = <
&trans  &kp C_VOL_UP  &kp F7  &kp F8          &kp F9      &rgb_ug RGB_TOG   &trans  &trans  &kp PAGE_DOWN  &rgb_ug RGB_COLOR_HSB(30,100,50)  &rgb_ug RGB_COLOR_HSB(0,0,100)  &rgb_ug RGB_COLOR_HSB(183,82,43)  &trans  &sys_reset
&trans  &kp C_MUTE    &kp F4  &kp F5          &kp F6      &rgb_ug RGB_BRI   &trans  &trans  &trans         &kp PRINTSCREEN                   &trans                          &trans                            &trans  &studio_unlock
&trans  &kp C_VOL_DN  &kp F1  &kp F2          &kp F3      &rgb_ug RGB_BRD                   &kp PAGE_UP    &trans                            &trans                          &trans                            &trans  &trans
                              &kp C_PREVIOUS  &kp C_NEXT  &kp C_PLAY_PAUSE                  &trans         &trans                            &trans
            >;
        };
    };
};
