/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <23 24>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <18 17>;
        };
    };

    macros {
        umlaut_a: umlaut_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(DOUBLE_QUOTES)) &kp A>;
            label = "UMLAUT_A";
        };

        umlaut_o: umlaut_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp O>;
            label = "UMLAUT_O";
        };

        umlaut_u: umlaut_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp U>;
            label = "UMLAUT_U";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLEMAK";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F  &kp P  &kp B      &trans  &trans  &kp J           &kp L  &kp U      &kp Y    &kp SEMI  &kp BSPC
&kp APOS   &kp A  &kp R  &kp S  &kp T  &kp G      &trans  &trans  &kp M           &kp N  &kp E      &kp I    &kp O     &kp ENTER
&kp LC(B)  &kp Z  &kp X  &kp C  &kp D  &kp V                      &kp K           &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &mo 3  &mo 1  &kp SPACE                  &kp LEFT_SHIFT  &mo 2  &mo 4
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        number-symbol {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&kp TAB       &kp PLUS   &kp N7        &kp N8        &kp N9        &kp AMPERSAND  &trans  &trans  &kp CARET        &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE          &kp HASH       &kp BSPC
&kp ASTERISK  &kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SLASH      &trans  &trans  &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION      &kp BACKSLASH  &kp ENTER
&kp LSHFT     &kp MINUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERCENT                    &kp LESS_THAN    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GREATER_THAN  &kp TILDE      &kp ESCAPE
                                       &trans        &trans        &kp SPACE                      &kp LEFT_SHIFT   &kp AT                &trans
            >;
        };

        super-nav {
            display-name = "MOV";
            bindings = <
&trans             &kp LA(LC(LG(C)))   &kp LA(LC(LG(N7)))        &kp LA(LC(LG(N8)))        &kp LA(LC(LG(N9)))        &kp LA(LC(LG(LS(SPACE))))  &trans  &trans  &kp LA(LC(LG(J)))  &kp LA(LC(LG(L)))  &kp LG(LC(LA(I)))  &kp LA(LG(LC(A)))      &kp LC(LA(LG(B)))      &kp LS(LA(LC(LG(ENTER))))
&kp LA(LC(LG(P)))  &kp LA(LC(LG(N0)))  &kp LA(LC(LG(NUMBER_4)))  &kp LA(LC(LG(N5)))        &kp LA(LC(LG(NUMBER_6)))  &kp LS(LA(LC(LG(TAB))))    &trans  &trans  &kp LA(LC(LG(F)))  &kp LA(LC(LG(S)))  &kp LG(LA(LC(V)))  &kp LA(LC(LG(SPACE)))  &kp LS(LA(LC(LG(F))))  &kp LA(LC(LG(ENTER)))
&trans             &kp LA(LC(LG(T)))   &kp LA(LC(LG(NUMBER_1)))  &kp LA(LC(LG(NUMBER_2)))  &kp LA(LC(LG(NUMBER_3)))  &kp LA(LC(LG(N)))                          &kp LA(LC(LG(K)))  &kp LA(LC(LG(H)))  &kp LA(LG(LC(D)))  &kp LA(LC(LG(W)))      &kp LS(LA(LC(LG(B))))  &kp LA(LG(LC(TAB)))
                                                                 &kp LA(LC(LG(Q)))         &kp LA(LC(LG(P)))         &kp ESCAPE                                 &trans             &trans             &trans
            >;
        };

        special-move {
            display-name = "EDIT";
            bindings = <
&trans  &trans     &trans  &trans     &trans  &trans          &trans  &trans  &kp DOWN_ARROW  &kp RIGHT       &umlaut_u  &trans  &trans     &trans
&trans  &umlaut_a  &trans  &kp RA(S)  &trans  &trans          &trans  &trans  &trans          &trans          &trans     &trans  &umlaut_o  &trans
&trans  &trans     &trans  &trans     &trans  &trans                          &kp UP_ARROW    &kp LEFT_ARROW  &trans     &trans  &trans     &trans
                           &trans     &trans  &kp LEFT_SHIFT                  &trans          &trans          &trans
            >;
        };

        system {
            display-name = "SYS";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        layer5 {
            display-name = "NAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp LCTRL  &kp RCTRL  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans     &kp LALT   &kp RALT   &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans     &trans    &trans  &trans    &trans    &trans                           &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE                        &kp RET    &trans     &kp RALT
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
